

.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    max-width: 100%;
    justify-content: center;
    
    h2
    {
     color: white;
     font-size: 36px;
    }

}

.skill-box{
       justify-content: center;
    align-items: center;
    

    .pl{
        padding-left: 200px;
    }
    .pt{
        padding-top: 100px;
    }  
}
.skill-headline{
display: flex;
justify-content: center;
align-items: center;

}

.skill-content{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;


    .img-ang{
        width: 200px;
    }
}
