<div class="container">
   <div class="skill-box">

      <div class="skill-headline">
         <h2>MY Skills</h2>
      </div>

      <table>
         <tr>
            <td class="pt">
            HTML / (S)CSS

            </td>
            <td class="pl pt">
               Javascript

            </td>
            <td class="pl pt">
               Angular

            </td>
         </tr>
         <tr>
            <td class="pt">
               
            </td>
            <td class="pl pt">
               html
            </td>
            <td class="pl pt">
               html
            </td>
         </tr>
         <tr>
            <td class="pt">
               html
            </td>
            <td class="pl pt">
               html
            </td>
            <td class="pl pt">
               html
            </td>
         </tr>
      </table>
   </div>