<div class="container">
   <div class="skill-box">

      <div class="skill-headline">
         <h2>My Skills</h2>
      </div>

      <table>
         <tr>
            <td class="pt">
               <div class="skill-content">
                 <img src="../assets/img/html.png"> <br>
                  HTML / (S)CSS
               </div>
            </td>
            <td class="pl pt">
               <div class="skill-content">
                  <img src="../assets/img/javascript.png" alt=""><br>
                  JAVASCRIPT
               </div>
            </td>
            <td class="pl pt">
               <div class="skill-content">
                  <img class="img-ang" src="../assets/img/angular.png" alt=""> 
                  ANGULAR
               </div>
            </td>
         </tr>
         <tr>
            <td class="pt">
               <div class="skill-content">
                  <img src="../assets/img/git.png" alt=""><br>
                  GIT
               </div>
            </td>
            <td class="pl pt">
               <div class="skill-content">
                  <img src="../assets/img/scrum.png" alt=""><br>
                  SCRUM
               </div>
            </td>
            <td class="pl pt">
               <div class="skill-content">
                  <img src="../assets/img/design.png" alt=""><br>
                  DESIGN 
               </div>
            </td>
         </tr>
        
      </table>
   </div>