<div class="container">

    <div class="about-headline">
        <div><img src="assets/img/me3.jpg" alt=""></div>
        <div>
            <h2>About Me</h2>
            <p> "Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
        </div>

    </div>

    <div class="about-content">

        <div class="content-box">
            <div class="content-box-img">
                <img src="assets/img/walk-line.png" alt="">
            </div>
            <div class="content-box-text">
                <p> MY JOURNEY BEGAN</p>
                <p>as a product manager in an industrial company. Early on, I got the chance to collaborate in multiple
                    IT
                    and digitalization projects.</p>
            </div>
        </div>

        <div class="content-box">
            <div class="content-box-img">
                <img src="assets/img/heart-line.png" alt="">
            </div>
            <div class="content-box-text">
                <p> MY JOURNEY BEGAN</p>
                <p>as a product manager in an industrial company. Early on, I got the chance to collaborate in
                    multiple IT
                    and digitalization projects.</p>
            </div>
        </div>

        <div class="content-box">
            <div class="content-box-img">
                <img src="assets/img/search-line.png" alt="">
            </div>
            <div class="content-box-text">
                <p> MY JOURNEY BEGAN</p>
                <p>as a product manager in an industrial company. Early on, I got the chance to collaborate in
                    multiple IT
                    and digitalization projects.</p>
            </div>
        </div>

        <div class="content-box">
            <div class="content-box-img">
                <img src="assets/img/flight-takeoff-line.png" alt="">
            </div>
            <div class="content-box-text">
                <p> MY JOURNEY BEGAN</p>
                <p>as a product manager in an industrial company. Early on, I got the chance to collaborate
                    in multiple IT
                    and digitalization projects.</p>
            </div>
        </div>
    </div>
</div>